@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.welcome {
        .h1 {
            font-size: 64px;
        }
    }
    .header-contacts {
        font-size: 14px;
    }
    .carousel-services-item {
        flex-direction: column;
    }
    
    .s {
        &-king,
        &-review,
        &-partners {
            padding: 8% 0;
        }
    }

    .footer-addr {
        margin: 0px 0 10px;
    }

    .footer-addr .footer-phone {
        font-size: 20px;
        padding-top: 0px;
        .fa {
            top: 6px;
        }
    }

    .soc a {
        font-weight: 15px;
        height: 33px;
        width: 33px;
        line-height: 33px;
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .welcome {
        .h1 {
            font-size: 48px;
        }
    }
    .col-md-4.col-sm-6 {
        white-space: nowrap;
        text-align: center;
    }
    .hidden-sm.hidden-xs {
        display: none;
    }

    .s {
        &-king,
        &-review,
        &-partners {
            padding: 6% 0;
            text-align: center;
        }

        &-call {
            &::before {
                width: 100%;
            }
            .callback {
                padding: 12% 0;
            }
            background-size: cover;
            background-position: none;
        }
        
    }
    .offset-md-7 {
        margin-left: auto;
    }

    .col-md-5 {
        flex: 1 1 auto;
        max-width: 100%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        p {
            padding: 0 2%;
        }
    }
    .col-md-7 {
       margin: 0 auto;
       position: relative;
       flex: 0 0;
       max-width: 100%;
       height: 100%;
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .col-sm-7 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    }
    .button {
        padding: 12px 40px;  
    }

    .s {
        &-king,
        &-review,
        &-partners {
            padding: 6% 0;
        }
        &-call {
            &::before {
                width: 100%;
            }
            .callback {
                padding: 10% 0;
            }
            background-size: cover;
            background-position: none;
        }
    }
    .offset-sm-6 {
        margin-left: auto;
    }

    .col-md-5 {
        .h2 {
            font-size: 25px;
        }
        p {
            font-size: 14px;
            margin: 25px 0; 
        }
    }

    .quotes {
        display: none;
    } 

    .s-partners {
        .h2 {
            margin: 0;
        }
    }


}

// ≥576px
@include media-breakpoint-down(xs) {
    .welcome {
        .h1 {
            font-size: 28px;
            margin-top: 0px;
        }
        p {
            span {
                font-size: 10px;
                margin: 0 1px;
            }
        }
        strong {
            margin-top: 12px;
            font-size: 14px;
        }
    }
    .col-md-4.col-sm-6 {
        text-align: center;
        padding-left: 10px;
        width: auto;
    }
    .phone {
        top: 70px;
        right: 0;
        left: 45px;
    }
    .header-contacts {
        font-size: 13px;
    }
    .header-composition p {
        margin-top: 30px;
        font-size: 14px;
    }
    .s {
        &-king,
        &-review,
        &-partners {
            padding: 6% 0;
        }
    }

    .col-md-5 {
        .h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
            margin: 20px 0; 
        }
    }
    .offset-2 {
        margin-left: auto;
    }

    .partners .owl-nav > div.owl-next {
        left: 0;
    }
    .partners .owl-nav > div.owl-prev {
        right: 0;
    }

    .s-partners {
        padding-top: 30px;
    }

    .review-text {
        font-size: 14px;
    }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
